<a href="https://colab.research.google.com/github/intisar2024/master_ITM/blob/main/EJ02_STATEMENTS_working_with_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Exercises for working with variable strings

Using this string variable:
course = "This is a Python course"

Get:

- string length

In [ ]:
course="this is a python course"
course1=len(course)
print(course1)

23

- First 4 characters

In [ ]:
course="this is a python course"
four_chara=course[0:4]
print(four_chara)

this

- Last 6 characters

In [ ]:
course="this is a python course"
six_chara=course[17:23]
print(six_chara)

course

- Split the string using the white character and create a list.

In [ ]:
course="this, is , a python , course"
print(course,type(course))
spl_string = course.split(",")
print(spl_string, type(spl_string))

this, is , a python , course <class 'str'>
['this', ' is ', ' a python ', ' course'] <class 'list'>

In [ ]:
course="this is  a python  course"
spl_string = course.split(" ,")
print(spl_string, type(spl_string))

['this is  a python  course'] <class 'list'>

In [ ]:
course="this is  a python  course"
spl_string = course.split()
print(spl_string, type(spl_string))

['this', 'is', 'a', 'python', 'course'] <class 'list'>

join the list using the white character and create a string.

In [ ]:
joined_list1=" ".join(spl_string)
print(joined_list1)

this is a python course

- Create the string course2 the same as the string course, but replacing 'Phyton' with 'R'.

In [ ]:
course="this ,is , a python , course"
new_course=course.replace("a python", "R")
print(new_course,type(new_course))

this ,is , R , course <class 'str'>

In [ ]:
course="this is  a python  course"
new_course=course.replace("a python", "R")
print(new_course,type(new_course))

this is  R  course <class 'str'>

work with listes comlex

In [ ]:
mixed_list=["intesar",2024,'my work at waha']
print(mixed_list)

['intesar', 2024, 'my work at waha']

ADD LIST TO anther LIST

In [ ]:
mixed_list.append(["i work from",2022,"i like my work"])
print(mixed_list)

['intesar', 2024, 'my work at waha', ['i work from', 2022, 'i like my work']]