<a href="https://colab.research.google.com/github/intisar2024/master_ITM/blob/main/EJ03_STATEMENTS_working_with_lists_and_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Exercises with lists and tuples

Create a __list__ with the following 4 elements: 11,4,7,5,10

In [ ]:
list=[11,4,7,5,10]
print(list)

[11, 4, 7, 5, 10]

- Create a variable as a result of the sum of the first 2 elements

In [ ]:
print(list[0]+list[1])

15

- Create a list containing the first and last element

In [ ]:
print(list[0],list[4])

11 10

In [ ]:
print(list[-2],list[-1])

5 10

- Add at the end the value: 15

In [ ]:
list=[11,4,7,5,10]
list.append(15)
list
print(list)

[11, 4, 7, 5, 10, 15]

- Sort list in ascending and descending order

In [ ]:
list=[11,4,7,5,10,15]
list.sort()
print(list)

[4, 5, 7, 10, 11, 15]

In [ ]:
list=[11,4,7,5,10,15]
list.reverse()

[15, 10, 5, 7, 4, 11]

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (<ipython-input-19-c916fa947a35>, line 1)

- Create a set variable from the list

In [ ]:
list=[11,4,7,5,10,15,5]
list1=set(list)
print(list1)

{4, 5, 7, 10, 11, 15}

In [ ]:
A1=(1,1,2,2,3,3,4,4,15)
A2=set(A1)
print(A2)
type(A1)
type(A1)

{1, 2, 3, 4, 15}

tuple

Define a __list__ containing 2 sublists: ['a','b','c'] and [1,2,3].

In [ ]:
list=[11,4,7,5,10]
sub1=['a','b','c']
sub2= [1,2,3]
list1=list+sub1+sub2
print(list,sub1,sub2)
print(list1,type(list1))

[11, 4, 7, 5, 10] ['a', 'b', 'c'] [1, 2, 3]
[11, 4, 7, 5, 10, 'a', 'b', 'c', 1, 2, 3] <class 'list'>

In [ ]:
list=[['a','b','c'],[1,2,3]]
list1=list[:]
print(list1)

[['a', 'b', 'c'], [1, 2, 3]]

- Create a new list with the elements of the first sublist

In [ ]:
print(list1[5:8])

['a', 'b', 'c']

- Create a variable with the value of the first element of the first sublist

In [ ]:
sub1=['a','b','c']
AA=sub1[0:1]
print(AA)

['a']

In [ ]:
list=[['a','b','c'],[1,2,3]]
list1=list[0][0]
print(list1)

a

- Create a variable with the value of the last element of the second sublist

In [ ]:
list=[['a','b','c'],[1,2,3]]
list1=list[1][2]
print(list1)

3

- Sum all the elements of the second sublist

In [ ]:
list=[['a','b','c'],[1,2,3]]
print(list[1:0]+list[1:1]+list[1:2])

[[1, 2, 3]]

In [ ]:
list=[['a','b','c'],[1,2,3]]
print(list[0]+list[1])

['a', 'b', 'c', 1, 2, 3]

Create a __tuple__ having as elements three lists: ['a','b','c'], [1,2,3], [2.5,3.44,4.76].

In [ ]:
list= (['a','b','c'], [1,2,3], [2.5,3.44,4.76])
print(list[0]+list[1]+list[2],type(list))

['a', 'b', 'c', 1, 2, 3, 2.5, 3.44, 4.76] <class 'tuple'>

- Accessing the first element of the tuple

In [ ]:
list=['a', 'b', 'c', 1, 2, 3, 2.5, 3.44, 4.76]
print(list[0])

a

- Access the second value (list) of the first element of the tuple

In [ ]:
tuple=('a', 'b', 'c', 1, 2, 3, 2.5, 3.44, 4.76)
h=tuple.__sizeof__()
print(tuple[1],type(list),h)

b <class 'tuple'> 96

- Sum all values of the last element of the tuple

In [ ]:
tuple=('a', 'b', 'c', 1, 2, 3, 2.5, 3.44, 4.76)
h=tuple.__sizeof__()
print(h)

96