<a href="https://colab.research.google.com/github/intisar2024/master_ITM/blob/main/P04_lists_tuples_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Working with collections: lists, tuples and sets

### Lists

Creation of __list__ with elements of different types

In [ ]:
list1 = [1, "Madrid", 4.67, True]
a,b,c,d = list1
numelem = len(list1)
type(list1), list1, a, type(a), type(b), type(c), type(d)

(list, [1, 'Madrid', 4.67, True], 1, int, str, float, bool)

In [ ]:
type(list1[-1])

bool

validate if an item is in a list

In [ ]:
"1" in list1

False

Get __elements__ from a list by positions

In [ ]:
elem1 = list1[0] # first element
list2 = list1[0:2]  # from 0 to 2 (not counting 2)
a, b = list1[0:2]
elem2 = list1[-1]   # last element
elem1, list2,type(list2),a,b, elem2

(1, [1, 'Madrid'], list, 1, 'Madrid', True)

In [ ]:
list1[0:len(list1)]

[1, 'Madrid', 4.67, True]

__Slicing__

In [ ]:
list3 = list1[:]  # complete list
list4 = list1[:4]  # from start to position 4 (not counting 4)
list5 = list1[2:]  # from pos 2 to the end
list3, list4, list5, type(list5)

([1, 'Madrid', 4.67, True], [1, 'Madrid', 4.67, True], [4.67, True], list)

In [ ]:
list1 = [1, "Madrid", 4.67, True]
list1

[1, 'Madrid', 4.67, True]

from a list to several variables

In [ ]:
list1

[1, 'Madrid', 4.67, True]

In [ ]:
var1, var2, var3, var4 = list1

In [ ]:
var1, var2, *var3 = list1
var1, var2, var3

(1, 'Madrid', [4.67, True])

In [ ]:
list1[0] =3
list1

[3, 'Madrid', 4.67, True]

In [ ]:
list1[2:2] = [8,9]
list1

[3, 'Madrid', 8, 9, 4.67, True]

In [ ]:
list1 = [3,3,4,5,6,2,1,9]

In [ ]:
list1.sort()
list1

[1, 2, 3, 3, 4, 5, 6, 9]

__sort__ is a list-only method and __sorted__ is a function for any iterable.

In [ ]:
sorted(list1)
list1

[1, 2, 3, 3, 4, 5, 6, 9]

In [ ]:
list2 = ['z','b','c']
list2.sort(reverse = True)
list2

['z', 'c', 'b']

In [ ]:
list2 = ['z','b','c']
list2.sort()
list2

['b', 'c', 'z']

In [ ]:
list3 = [1,2,3,4,4,4]
list3

[1, 2, 3, 4, 4, 4]

Insert __items__ in the list

In [ ]:
list1[0] = "5"  # I can make item assignments, they are mutable.
list1[2:1] = [8]   # insert 8 in position 3 (index 2)
list1[3:2] = [10,'hello'] # insert 10, "hello" starting from position 4 (index 3)
list1

['5', 2, 8, 10, 'hello', 3, 3, 4, 5, 6, 9]

Methods for __inserting__ and __deleting__ items in lists

In [ ]:
list1

['5', 2, 8, 10, 'hello', 3, 3, 4, 5, 6, 9]

In [ ]:
#del lista1[0]
res = list1.pop(0)
list1.remove("hello")
list1

[10, 3, 3, 4, 5, 6, 9]

In [ ]:
list1=['5', 2, 8, 10, 'hello', 3, 3, 4, 5, 6, 9]
res=list1.pop(0)
res=list1.pop(4)
print(list1)

[2, 8, 10, 'hello', 3, 4, 5, 6, 9]

In [ ]:
list1

[10, 3, 3, 4, 5, 6, 9]

In [ ]:
# remove last item from list
#list1.pop()

# delete by index
#list1.pop(3)

# add items to the end of the list
#list1.append("ZZ")

# adds the items of the sublist to the main list
#list1.extend(["n1", "n2", "n3"])

list1.append(["n1", "n2", "n3"])

# Insert the value 100 in position 5
#list1.insert(3,100)

# Deletes the value 100
#list1.remove(100)
list1

[3, 3, 4, 100, 5, 'ZZ', 'n1', 'n2', 'n3', ['n1', 'n2', 'n3']]

In [ ]:
list1=[10, 3, 3, 4, 5, 6, 9]
list2=list1.pop(6)
list1.append("intesar")
list1.insert(7,"ali")
list1.extend(["A","B","C" , 2024])
list1.append([2021,2022,2023,2024])

print(list1)

[10, 3, 3, 4, 5, 6, 'intesar', 'ali', 'A', 'B', 'C', 2024, [2021, 2022, 2023, 2024]]

__Add__ all items in a list

In [ ]:
sum(list3)

18

In [ ]:
lista1 = [1,2,4]
lista1.reverse()
lista1

[4, 2, 1]

__Concat__ lists +

In [ ]:
lis1 = [1,2,3]
lis2 = [4,5,6]
lis3 = lis1 + lis2
lis3

[1, 2, 3, 4, 5, 6]

Methods of lists

In [ ]:
dir(lis1)

Multiplying a list by a value

In [ ]:
lis3 = 3*lis1
lis3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

Example of passing by __value__ and by __reference__.

In [ ]:
# by reference
lisv1 = [1,2,3,4,5]
lisv2 = lisv1
lisv1[2] = 10

# by value
lisr1 = [1,2,3,4,5]
lisr2 = lisr1.copy()
lisr1[2] = 10
lisv1, lisv2, lisr1, lisr2, id(lisv1), id(lisv2), id(lisr1), id(lisr2)

([1, 2, 10, 4, 5],
 [1, 2, 10, 4, 5],
 [1, 2, 10, 4, 5],
 [1, 2, 3, 4, 5],
 2226296505928,
 2226296505928,
 2226296505032,
 2226296507592)

Get the __identifier__ associated with an __object__.

In [ ]:
a = 4
id(a)
# Changing the value destroys the old object and creates a new one.
a = 5
id(a)

1826321466952

In [ ]:
lis = [1,0,2,3]
id(lis)
# When modifying the object, the id does not change, it is the same object.
lis[1] = 30
id(lis)

1826321468808

Working with __lists of lists__.

In [ ]:
# listas de listas
lis1 = [['a1', 'b1', 'c1'],['a2', '2' ,'c2'],['a3','b3','c3']]
a = lis1[0][0]
b=list1[0][0:2]
c=lis1[:][1]

d=lis1[-1][-1]
e=lis1[1][1]
a,b,type(b),c,d,e

('a1', ['a1', 'b1'], list, ['a2', '2', 'c2'], 'c3', '2')

In [ ]:
lis1 = [['a1', 'b1', 'c1'],['a2', '2' ,'c2'],['a3','b3','c3']]
a = lis1[0][0]
print(a)
b=lis1[0][0:2]
print(b)
c=lis1[1][:]
print(c)

a1
['a1', 'b1']
['a2', '2', 'c2']

In [ ]:
lis1

[['a1', 'b1', 'c1'], ['a2', '2', 'c2'], ['a3', 'b3', 'c3']]

In [ ]:
lis1[1][1]

'2'

Any collection can be iterated with the __iter__ method.

In [ ]:
lis5 = [1,'hola', 25]

In [ ]:
lisiter = iter(lis5)
print(next(lisiter))
print(next(lisiter))
print(next(lisiter))

1
hola
25

In [ ]:
type(lisiter)

list_iterator

### Tuples

In [ ]:
# tuple definition
tup1 = (1, "Madrid", 4.67, True)
numelem = len(tup1)
a = tup1[2]
a, numelem, type(tup1)

(4.67, 4, tuple)

In [ ]:
# Assignments cannot be made in tuples
tup1[3] = 8
# A tuple can be "split" into several variables
a,b,c,d = tup1

In [ ]:
tup1 = (1,2,3,4,5)
1 in tup1

True

In [ ]:
liscli = [
    ("Luis", 33),
    ("Ana", 22),
    ("Pepe", 41)
]
liscli[0][1] = 32

Compare list and tuple size

In [ ]:
lis1 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
lis1.__sizeof__()

168

In [ ]:
tup1 = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
tup1.__sizeof__()

144

### Sets

In [ ]:
# set definition
set1 = {1, 2, 3, 4, 4}
type(set1), set1

(set, {1, 2, 3, 4})

In [ ]:
set1[0]

In [ ]:
# change from list to set. Remains with unique values
lis1 = [1,2,2,3,4,5,5]
set2 = set(lis1)
lis2 = list(set(lis1)) # remove dups
lis2

[1, 2, 3, 4, 5]

In [ ]:
set2.add(6)  # add elements
set2.discard(2) # delete items
set2

{1, 3, 4, 5, 6}

In [ ]:
3 in set2    #  True
#8 in set2    #  False

True

In [ ]:
# Junctions, intersections and differences
set1 = {1, 2, 3, 4}
set2 = {2, 3, 4, 5, 6}
set3 = set1 | set2  # union
print(set3)
set4 = set1 & set2  # intersection: common elements
print(set4)
set5 = set1 - set2  # differences elements of set1 that are not in set2
print(set5)
set6 = set2 - set1  # differences: elements of set2 that are not in set1
print(set6)

{1, 2, 3, 4, 5, 6}
{2, 3, 4}
{1}
{5, 6}

Methods of the set class

In [ ]:
set1.add(7)
set1

{4, 7}

In [ ]:
set1.discard(7)
set1

{1, 2, 3, 4}

In [ ]:
set1, set2

({1, 2, 3, 4}, {1, 2, 3, 4, 5})

In [ ]:
set1.update(set2)
set1

{1, 2, 3, 4, 5}

In [ ]:
set7 = {3,5}

In [ ]:
res = set7.issubset(set1)
res

True

In [ ]:
set1

{1, 2, 3, 4, 5, 6}

Lists are slightly faster than sets for iterations, but sets are significantly faster for checking whether an item is in a collection.

In [ ]:
tope = 10000000
lis1 = list(range(tope))
set1 = set(range(tope))

In [ ]:
%%timeit
3521000 in lis1

33.7 ms ± 493 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
%%timeit
3521000 in set1

63.8 ns ± 8.7 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [ ]:
import sys
print(sys.getsizeof(lis1))
print(sys.getsizeof(set1))

9000112
33554656